* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Comfortaa;
    src: url(res/Comfortaa.ttf);
}
body,button,input {
    font-family: 'Comfortaa', cursive;
}
.title {
    padding: 1rem;
    background:linear-gradient(to bottom right,#72147E,#F21170);
    text-align: center;
    margin: 2vh auto;
    width: 30%;
    border-radius: 28% 72% 61% 39% / 49% 52% 48% 51% ;
}